<!-- project_card.html -->
<div class="project-card">
    <div class="project-info">
        <h3 class="project-title">
            Personal Project Full Name
            <span class="project-open-wrapper">
              <a class="project-open" onclick="openModal('project1-modal')" aria-label="open project">↗</a>
              <span class="tooltip">open project details</span>
            </span>
          </h3>          
      <p class="project-desc">
        A small blurb about the project, what it does, why it’s important, what I used to make it, etc. etc.
      </p>
      <div class="tag-container">
        <span class="tag">technology</span>
        <span class="tag">technology</span>
        <span class="tag">technology</span>
      </div>
    </div>
  
    <div class="thumbnail">
      <img src="/static/images/project1-thumbnail.jpg" alt="project thumbnail" />
    </div>
  </div>
  